/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: top;
    color: #f2f2f2;
    text-align: center;
    padding: 17px 18px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #db0f00;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #ad0c00;
    color: white;
  }

  body {
    background: linear-gradient(to bottom, black, #120000) fixed;
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
    
  }
  
  .scp-list a {
    font-size: xx-large;
    color: white;
  }

  .scp-list ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 5px dashed white; 
  }
  
  .shadow {
    text-shadow: 2px 2px red;
  }

  .footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  }

